:root {
  --white: #FFFFFF;
  --black: #000000;
  --very-light-pink: #c7c7c7;
  --text-input-field: #F7F7F7;
  --hospital-green: #ACD9B2;
  --sm: 14px;
  --md: 16px;
  --lg:18px;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Quicksand', sans-serif;
}

.product-detail {
  position: absolute;
  box-sizing: border-box;
  right: 0;
  width: 360px;
  height: 100vh;
  padding: 24px;
}

.title-container {
  display: flex;
}

.title-container img{
  transform: rotate(180deg);
  margin-right: 12px;
}

.title {
  font-size: var(--lg);
  font-weight: bold;
}

.shopping-cart {
  display: grid;
  grid-template-columns: auto 1fr auto auto;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}

.shopping-cart p:nth-child(2) {
  color: var(--very-light-pink);
}

.shopping-cart p:nth-child(3) {
  font-size: var(--md);
  font-weight: bold;
}
.shopping-cart figure  {
  margin: 0;
}
.shopping-cart figure img {
  width: 70px;
  height: 70px;
  border-radius: 20px;
  object-fit: cover;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}

.order p:nth-child(1) span:nth-child(1){
  font-size: var(--md);
  font-weight: bold;
}

.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  height: 52px;
  cursor: pointer;
  font: var(--md);
  font-weight: bold;
}

@media (max-width: 640px) {
  .product-detail {
    width: 100%;
  }
}